<div class="index-box col-xs-10 col-xs-offset-1">
	<div class="col-xs-12">
		<h1 class="text-center">User Dashboard</h1>
	</div>
	<div class="col-xs-4">
		<%= image_tag('user.png', class: "user_picture") %>
	</div>
	
	<div class="col-xs-8" style="word-wrap: break-word">
		<h3><%= @user.email %></h1>
		<h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
		<h4><%= @user.comments.count %> total comments</h4>
		<h4><%= @user.comments.where(rating: '5_5').count %> total 5/5 reviews</h4>
	</div>
	<div style="clear: both;"></div>
</div>

<div class="index-box col-xs-10 col-xs-offset-1">
	<h1 class="text-center">My Comments</h1>
	<br />
	<% if !@user.comments.present? %>
			<i>No Comments</i>
		<% else %>
			<% @user.comments.each do |comment| %>
				<div>
					<h3><%= link_to comment.place.name, place_path(comment.place)%></h3>
					<blockquote>
						<% if comment.humanized_rating.present? %>
							<b><%= comment.humanized_rating %></b> -
						<% end %>
			        	<%= comment.message %>
			        	<small><%= comment.user.email %></small>
			        </blockquote>
			    </div>
			    <br />
			<% end %>
		<% end %>
</div>
<div style="clear: both;"></div>

<div class="index-box col-xs-10 col-xs-offset-1">
	<h1 class="text-center">My Places</h1>
	
	<% if !@user.places.present? %>
		<i>No Places</i>
	<%else%>
		<% @user.places.each do |place| %>
			<h3><%= link_to place.name, place_path(place), id: "index-header" %></h3>
		    <i><%= place.address %></i><br /><br />
		    <p><%= place.description %></p><br /> 
		    
		    <% if place.user.present? %>
		      <small><%= place.user.email %></small>
		    <% end %>
		    
		    <div style="clear: both;"></div>
		    <br />
		    
		    <% if place.comments.present? %>
			    <div>
					<blockquote>
						<% if place.comments.last.humanized_rating.present? %>
							<b><%= place.comments.last.humanized_rating %></b> -
						<% end %>
						<%= place.comments.last.message %>
						<small><%= place.comments.last.user.email %></small>
					</blockquote>
				</div>
			<% end %>
			<div style="clear: both;"></div>
			<br />
			<h2></h2>
			<br />
		<% end %>
	<% end %>
</div>
